@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --dark-purple: #120024;
  --medium-purple: #2a0a4a;
  --light-purple: #3a1a5a;
  --silver: #c0c0c0;
  --light-silver: #e0e0e0;
  --white: #FFFFFF;
  --light-blue: #87CEFA; /* Añadimos un nuevo color celeste */
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--dark-purple);
  color: var(--white);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.navbar-logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--silver);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 0 0 10px rgba(192, 192, 192, 0.5);
  transition: all 0.3s ease;
}

.navbar-logo:hover {
  transform: scale(1.05);
}

.navbar-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--silver);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.navbar-links a:hover {
  color: var(--silver);
  transform: translateY(-2px);
}

.navbar-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

section {
  padding: 6rem 2rem;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  overflow: hidden;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

h1, h2 {
  font-family: 'Orbitron', sans-serif;
  color: var(--silver);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 3rem;
  letter-spacing: 0.05em;
}

p {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 1.2rem;
}

.hero {
  background: radial-gradient(circle, var(--medium-purple) 0%, var(--dark-purple) 100%);
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.dynamic-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.data-particle {
  position: absolute;
  background-color: var(--white);
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0.5;
  animation: float 15s infinite, glow 5s infinite;
}

@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, 50px);
  }
  50% {
    transform: translate(100px, 0);
  }
  75% {
    transform: translate(50px, -50px);
  }
}

@keyframes glow {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  text-align: center; /* Asegura que todo el contenido esté centrado */
}

.main-title {
  font-size: 4rem;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 1000px;
  margin: 0 auto 1rem;
  transition: all 0.3s ease;
  text-align: center;
}

.main-title:hover {
  color: var(--light-silver);
  text-shadow: 0 0 10px var(--silver), 0 0 20px var(--silver), 0 0 30px var(--silver);
  transform: scale(1.05);
}

.subtitle {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 0 auto 2rem;
  color: var(--silver);
  text-align: center;
}

.key-ideas {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.key-idea {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid var(--silver);
  border-radius: 15px;
  padding: 1.5rem;
  width: 250px;
  text-align: center;
  transition: all 0.3s ease;
}

.key-idea:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 215, 0, 0.2);
}

.key-idea h3 {
  color: var(--silver);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.key-idea p {
  font-size: 1rem;
  color: var(--white);
}

.what-we-do {
  background-color: var(--medium-purple);
  background-image: url('/fondo XPLORATI.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.what-we-do::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(42, 10, 74, 0.8); /* Ajusta el último valor (0.8) para cambiar la opacidad */
  z-index: 1;
}

.what-we-do > * {
  position: relative;
  z-index: 2;
}

.specifications {
  background-color: var(--light-purple);
}

.specifications ul, .our-proposal ul {
  list-style-type: none;
  padding: 0;
}

.specifications li, .our-proposal li {
  margin: 1.5rem 0;
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.specifications li:hover, .our-proposal li:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.our-proposal {
  background-color: var(--medium-purple);
  padding-top: 8rem;
  padding-bottom: 8rem;
  min-height: 150vh; /* Aumentar la altura mínima */
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--silver);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--silver);
  border: 4px solid var(--light-purple);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--silver);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--silver);
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--silver);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--silver) transparent transparent;
}

.right::after {
  left: -16px;
}

.timeline-content {
  padding: 20px 30px;
  background-color: var(--light-purple);
  position: relative;
  border-radius: 6px;
}

.timeline-content h3 {
  color: var(--silver);
  margin-bottom: 1rem;
}

.timeline-content p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.quote {
  background-color: var(--light-purple);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input, textarea, select {
  margin: 0.8rem 0;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--white);
  transition: all 0.3s ease;
  font-size: 1rem;
}

input:focus, textarea:focus, select:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: var(--silver);
  outline: none;
  box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.2);
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23c0c0c0' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  padding-right: 2.5rem;
}

button {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: var(--silver);
  color: var(--dark-purple);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

button:hover {
  background-color: var(--light-silver);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #000000;
  color: var(--white);
  padding: 2rem 0;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: flex-start; /* Cambiado de space-between a flex-start */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-left: 2rem; /* Añadido margen izquierdo */
}

.social-icons a {
  color: var(--silver);
  transition: color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-icons a:hover {
  color: var(--light-silver);
}

.social-icons svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p, .specifications li, .our-proposal li {
    font-size: 1.1rem;
  }

  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .navbar-links {
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar-links li {
    margin: 0.5rem 1rem;
  }

  form {
    padding: 1.5rem;
  }

  .key-ideas {
    flex-direction: column;
    align-items: center;
  }

  .key-idea {
    width: 100%;
    max-width: 300px;
  }

  .footer-content {
    flex-direction: column;
    gap: 1rem;
  }

  .timeline::after {
    left: 31px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-item::before {
    left: 60px;
    border: medium solid var(--silver);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--silver) transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
  .case-studies-grid,
  .news-grid {
    grid-template-columns: 1fr;
  }

  .floating-cta {
    bottom: 7rem; /* Increased bottom margin to avoid overlapping with footer icons */
    right: 1rem;
  }

  .floating-cta button {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  section {
    padding: 4rem 1rem;
  }

  form {
    width: 100%;
    padding: 1rem;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  input, textarea, select, button {
    font-size: 0.9rem;
  }
}

.animate-on-enter {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

section.visible .animate-on-enter {
  opacity: 1;
  transform: translateY(0);
}

/* Añadir retrasos a las animaciones para crear un efecto escalonado */
section.visible .animate-on-enter:nth-child(1) { transition-delay: 0.1s; }
section.visible .animate-on-enter:nth-child(2) { transition-delay: 0.2s; }
section.visible .animate-on-enter:nth-child(3) { transition-delay: 0.3s; }
section.visible .animate-on-enter:nth-child(4) { transition-delay: 0.4s; }

/* Distribuir las partículas por toda la pantalla */
.data-particle:nth-child(4n) { left: 20%; top: 20%; }
.data-particle:nth-child(4n+1) { left: 40%; top: 60%; }
.data-particle:nth-child(4n+2) { left: 60%; top: 40%; }
.data-particle:nth-child(4n+3) { left: 80%; top: 80%; }

.data-particle:nth-child(3n) {
  animation-duration: 20s;
}

.data-particle:nth-child(3n+1) {
  animation-duration: 25s;
  animation-delay: 2s;
}

.data-particle:nth-child(3n+2) {
  animation-duration: 30s;
  animation-delay: 4s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.timeline-item:nth-child(2) {
  animation-delay: 0.2s;
}

.timeline-item:nth-child(3) {
  animation-delay: 0.4s;
}

.timeline-item:nth-child(4) {
  animation-delay: 0.6s;
}

.timeline-item:nth-child(5) {
  animation-delay: 0.8s;
}

.carousel-container {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  position: relative;
}

.carousel-item {
  color: var(--light-blue);
  padding: 2rem;
  text-align: center;
  transition: all 0.3s ease;
  background-color: transparent;
}

.carousel-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.carousel-item h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.carousel-item p {
  font-size: 1.2rem;
  color: var(--silver);
}

.slick-dots {
  bottom: -40px;
}

.slick-dots li button:before {
  color: var(--silver);
  font-size: 12px;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: var(--light-blue);
  opacity: 1;
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 0.3s ease;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-prev svg,
.slick-next svg {
  color: var(--light-blue);
}

@media (max-width: 768px) {
  .slick-prev {
    left: -30px;
  }

  .slick-next {
    right: -30px;
  }

  .carousel-item h3 {
    font-size: 1.8rem;
  }

  .carousel-item p {
    font-size: 1rem;
  }
}

.case-studies {
  background-color: var(--medium-purple);
  padding: 6rem 2rem;
}

.case-studies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.case-study {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.case-study:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.case-study h3 {
  color: var(--silver);
  margin-bottom: 1rem;
}

.latest-news {
  background-color: var(--light-purple);
  padding: 6rem 2rem;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.news-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.news-item h3 {
  color: var(--silver);
  margin-bottom: 1rem;
}

.news-item p {
  margin-bottom: 1rem;
}

.read-more {
  color: var(--silver);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.read-more:hover {
  color: var(--light-silver);
}

.floating-cta {
  position: fixed;
  bottom: 5rem; /* Aumentado para evitar superposición con el footer */
  right: 2rem;
  z-index: 1000;
}

.floating-cta button {
  background-color: var(--silver);
  color: var(--dark-purple);
  border: none;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.floating-cta button:hover {
  background-color: var(--light-silver);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .floating-cta {
    bottom: 7rem; /* Aumentado aún más para dispositivos móviles */
    right: 1rem;
  }
}

.quote input, .quote textarea, .quote select {
  color: var(--silver);
}

.quote select {
  color: var(--dark-purple);
}

.quote select option {
  color: var(--dark-purple);
}

